#video {
    border: solid 1px;
    width: 100%;
}

#cam-image {
  float: right;
  /*display: none;*/
  border: solid 0.5px #bdbdbd;
  border-radius: 10px;
}

.container {
  width: 50% !important;
}

#result-text {
  font-size: 3rem;
  color: #424242;
}

#result {
  color: #fb8c00;
}
